        body {
            background-color: blue;
        }
        
        .box {
            width: 400px;
            height: 400px;
            background: url(../image/1.jpeg) no-repeat;
        }